﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Readme</title>
</head>
<body>
    <div>
        <h1>Preparing:</h1>
        <p>- The connection string in the WebApi project's web.config file must be specified before start (or when deploying).</p>
        <h1>Input data format:</h1>
        <p>
            - Input value must be a JSON object which has Base64Data property containing base64 encoded binary data.<br />
            <i>For example: {Base64Data: 'AAAAAQEAAQABAQAAAQABAAABAAAB'}</i>
        </p>
        <h1>Usage:</h1>
        <p>- Each comparison item has it's own string identifier.</p>
        <p>
            - The left value of the item can be set using an URL like http://&lt;host&gt;/v1/diff/&lt;identifier&gt;/left?value=&lt;value&gt;<br />
            <i>For example, if you want to set the left value of the comparison with identifier "test" to bytes array { 1,2,3,4,5 } on the development environment, you need to use the URL http://localhost:29455/v1/diff/test/left?value={Base64Data:&nbsp;'AQIDBAU='}</i>
        </p>
        <p>
            - The right value of the item can be set using an URL like http://&lt;host&gt;/v1/diff/&lt;identifier&gt;/right?value=&lt;value&gt;<br />
            <i>For example, if you want to set the right value of the comparison with identifier "test" to bytes array { 1,2,3,4,5 } on the development environment, you need to use the URL http://localhost:29455/v1/diff/test/right?value={Base64Data:&nbsp;'AQIDBAU='}</i>
        </p>
        <p>- Both values must be specified before the comparison.</p>
        <p>
            - The information about the differrence can be retrieved by using an URL like http://&lt;host&gt;/v1/diff/&lt;identifier&gt;<br />
            <i>For example, if you want to get the difference between left and right values of the item with identifier "test" on the development environment, you need to use the URL http://localhost:29455/v1/diff/test</i>
        </p>
        <h1>Output data format:</h1>
        <p>
            - Output data is a JSON object containing 3 fields: Result, Message and Data<br />
            <i>For example response that indicates that compared sequences are of the same size, but aren't euqal will look like this: {Result: 0, Data: [{StartIndex: 5, Length: 4},{StartIndex: 9,Length: 2}], Message: "Sequences aren't equal."} </i>
        </p>
        <p>- "Result" contains a number that indicates was the request processed successfully or not. The value "0" means "OK", the value "1" means "Error".</p>
        <p>- "Message" contains text information about request results. If "Result" equals "0", the "Message" field tells the comparison results (diferent sizes, same sizes and are equal, same size and aren't equal). If "Result" equals "1", then the "Message" gives more information about the error.</p>
        <p>- "Data" may contain some additional data. For example exception details in case of error or exact information about the difference if compared values have same size and aren't equal.</p>
        <p>
            - In case when the "Data" field contains the information about the difference it is represented by a JSON array, Each array element contains 2 fields: StartIndex which shows the index where a different sequence of data starts, Lenght which gives the length of the different sequence.<br />
            <i>For example, the difference between two values {1,2,3,4,5,6,7,8,9,10} and {1,2,5,4,3,6,7,8,9,11} will be represented by a following array: [{StartIndex: 2,Length: 3},{StartIndex: 9,Length: 1}]</i>
        </p>
        <h1>Rules and logic</h1>
        <p>- If specified sequences are of the same size and are equal, the "Message" field will contain the text "Sequences are equal.".</p>
        <p>- If specified sequences aren't of the same size , the "Message" field will contain the text "Sequence sizes aren't equal.".</p>
        <p>- If specified sequences are of the same size and aren't equal, the "Message" field will contain the text "Sequences aren't equal." and the "Data" field will contain the information about the exact difference.</p>
    </div>
</body>
</html>
